.logout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logout-popup button {
  margin-right: 10px;
}

.todo-perfil {
  background-image: url(https://res.cloudinary.com/dsa9qormp/image/upload/f_auto,q_auto/v1/perfilUsuario/h8aqszl1hh1f9qyzq1mr);
  background-size: cover;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: antiquewhite;
}

.nav-perfil {
  background-color: #5d3b1e;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.nav-perfil ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-perfil ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.nav-perfil ul li.active {
  font-weight: bold;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-section h3 {
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 15px;
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-container {
  text-align: center;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.file-upload {
  margin-top: 10px;
}

.btn-upload {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-upload:hover {
  background-color: #0056b3;
}

.profile-image {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.btn-userperfil{
  display: flex;
  align-items:center ;
  justify-content:space-around;

}

@media (max-width: 991px) {
  
}

/* Para resoluciones mayores a 768px */
@media (max-width: 768px) {
  
}

/* Para resoluciones mayores a 450px */
@media (max-width: 450px) {
  
  .todo-perfil{
    padding-top: 150px;
  }

  .btn-userperfil{
    display: flex;
    align-items:center ;
    justify-content:space-around;
 
  
  }
}